/* @VARIABLES */
/* ********** */
$colorFooter: #C4C4C4;
$colorBackground: #F8F6EE;
$colorClaro:#FFE6D1;
$colorBotones: #F2624A;
$colorNegro: #000000;
$pagePadding: 16px;
$colorBlanco: white;

$tipoLogoSize: 62,48px;
$tipoBasicSize: 16px;
$tipoBotonSize: 18px;
$tipoBoldSize: 18px;
$weightBold: 900;


$rowPadding: 5px;


$widthMovilItems: 328px;