/* @VARIABLES */
/* ********** */
$colorFooter: #C4C4C4;
$colorBackground: #F8F6EE;
$colorBotonClaro:#FFE6D1;
$colorBotones: #F2624A;
$colorNegro: #000000;
$pagePadding: 16px;

$tipoLogoSize: 62,48px;
$tipoBasicSize: 16px;
$tipoBotonSize: 18px;
$tipoBoldSize: 18px;


//header
$headerPadding: 5px;