/* @BOTONES */
/* ********** */
a, .footer__areaBoton__boton{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

}
.header__boton__inicio{
    display: none;
}

.header__boton__comprar{
    background-color: $colorBotones;
    width: 129px;
    color: $colorBackground;


}
.header__boton__productos, .header__boton__servicios{
    background-color: $colorClaro;
    width: 328px;
    color: $colorNegro;
    @media screen and (min-width: 1300px){
        background-color: $colorBlanco;

    }

}
.main__parteSuperior__boton{
    background-color: $colorBotones;
    width: 296px;
    color: $colorBackground;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    @media screen and (min-width: 1300px){
        width: 98px;
        height: 41px;
        border-radius: 0px;


    }

}
.footer__areaBoton__boton{
    width: 328px;
    border-radius: 20px;
    background-color: $colorBotones;
    color: $colorBackground;

}
@media screen and (min-width: 1300px){
    .header__boton__inicio{
        display: flex;
        grid-area: a1;
    }
.header__boton__productos
{
    grid-area: a2;
}
.header__boton__servicios
{
    grid-area: a3;
}
.header__boton__compra
{
    grid-area: a4;
}
}

.header__botones__activo{
    color: $colorBotones;
    font-weight: $weightBold;

}