/* @BOTONES */
/* ********** */
article, .footer__areaBoton__boton{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

}


.header__boton__comprar{
    background-color: $colorBotones;
    width: 129px;
    color: $colorBackground;

}
.header__boton__productos, .header__boton__servicios{
    background-color: $colorClaro;
    width: 327px;
    color: $colorNegro;

}
.main__parteSuperior__boton{
    background-color: $colorBotones;
    width: 296px;
    color: $colorBackground;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.footer__areaBoton__boton{
    width: 328px;
    border-radius: 20px;
    background-color: $colorBotones;
    color: $colorBackground;

}